.user{
    
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: 'Rubik', sans-serif;

    h1{
        font-family: inherit;
        color: #fff;
        padding-top: 1rem;
    }

    p{
        color: var(--color-grey-dark);
    }
    
    &__photo{
      
       


    
    }
}


.card{
   margin: 2rem;
   border-radius: 1rem;
    background-color: var(--color-dark);
    display: flex;
    padding: 2rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    



    &__image{
        margin-right: 5rem;
        img{
            height: 15rem;
        }
    }


    &__details-text{
        font-size: 2.4rem;
        color: #ffffff;
        opacity: .5;
    }

    &__details-text2{
        font-size: 1.6rem;
        color: #ffffff;
        opacity: .5;
        margin: 1rem 0;
    }

    &__details-text2p{
        font-size: 1rem;
        color: #ffffff;
        opacity: .5;
        line-height: 2;
    }

    &__details-box{
        display: flex;
        align-items: center;
        position: relative;
        
        input{
            
            margin: 1rem 0;
            position: relative;
            padding: 1rem 2rem;
            border: 1px solid var(--color-grey);
            border-radius: .3rem;
            background-color: transparent;
            margin-right: -5rem;

            color: #fff;
            text-transform: uppercase;
        }

        select{
            border: none;
            background-color: transparent;
            color: #fff;
            z-index: 10;
            border: none;
            outline: none;
            
        }
    }
}

.card::before{
    content: url(/img/iluustr.png);
    height: 6rem;
    width: 9rem;
    position: absolute;
    right: 9rem;
    top: 0;
    
}

.account__summary{
    font-family: inherit;
    font-size: 2rem;
    color: #fff;
    opacity: .5;
    font-weight: 400;
    margin: 4rem 2rem;
}

.account_content{
    display: flex;

    .statement{
        flex: 1;
        background-color: var(--color-dark);
        border-radius: 1.5rem;
        padding: 4rem 2rem;
        margin-left: 2rem;
    }

    .reward{
        flex-basis: 30%;
        background-color: var(--color-dark);
        border-radius: 1.5rem;
        padding:  2rem;
        margin-right: 2rem;
        margin-left: 4rem;

        &__text{
            h1{
                color: #fff;
                opacity: .5;
            }
        }

        &__point{
            display: flex;
            padding: 1rem 0;
        }
    }
}