.user{
    
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: 'Rubik', sans-serif;

    h1{
        font-family: inherit;
        color: #fff;
        padding-top: 1rem;
    }

    p{
        color: var(--color-grey-dark);
    }
    
    &__photo{
      
       


    
    }
}


.card{
   margin: 2rem;
   border-radius: 1rem;
    background-color: var(--color-dark);
    display: flex;
    padding: 2rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    



    &__image{
        margin-right: 5rem;
        img{
            height: 15rem;
            cursor: pointer;
           

            
        }
    }


    &__details-text{
        font-size: 2.4rem;
        color: #ffffff;
        opacity: .5;
    }

    &__details-text2{
        font-size: 1.6rem;
        color: #ffffff;
        opacity: .5;
        margin: 1rem 0;
    }

    &__details-text2p{
        font-size: 1rem;
        color: #ffffff;
        opacity: .5;
        line-height: 2;
    }

    &__details-box{
        display: flex;
        align-items: center;
        position: relative;
        
        input{
            
            margin: 1rem 0;
            position: relative;
            padding: 1rem 2rem;
            border: 1px solid var(--color-grey);
            border-radius: .3rem;
            background-color: transparent;
            margin-right: -5rem;

            color: #fff;
            text-transform: uppercase;
        }

        select{
            border: none;
            background-color: transparent;
            color: #fff;
            z-index: 10;
            border: none;
            outline: none;
            
        }
    }
}

.card::before{
    content: url(/img/iluustr.png);
    height: 6rem;
    width: 9rem;
    position: absolute;
    right: 9rem;
    top: 0;
    
}

.account__summary{
    font-family: inherit;
    font-size: 2rem;
    color: #fff;
    opacity: .5;
    font-weight: 400;
    margin: 4rem 2rem;
}

.account_content{
    display: flex;

    .statement{
        flex: 1;

        border-radius: 1.5rem;
        margin-left: 2rem;
    }

    .reward{
        overflow: hidden;
        position: relative;
        flex: 0 0 35%;
        background-color: var(--color-dark);
        border-radius: 1.5rem;
        padding:  2rem;
        margin-right: 2rem;
        margin-left: 4rem;
        align-self: flex-start;

        &::before{
            content: url(/img/icon.png);
            position: absolute;
            top: 24rem;
            left: 26rem;
        }

        hr{
            margin: 0 auto;
        }

        &__text{
            h1{
                color: #fff;
                opacity: .5;
            }
        }

        &__point{
            display: flex;
            padding: 1rem 0;

            &-1{
                h3{
                    color: #fff;
                    font-size: 1.5rem;
                    opacity: 0.5;
                    margin-bottom: 1rem;
                }
                p{
                    font-size: 1.2rem;
                    font-weight: 100;
                    color: #E4E4E4;
                    opacity: 0.5;
                }
            }

            &-2{
                margin-left: 4rem;
                h3{
                    color: #fff;
                    font-size: 1.5rem;
                    opacity: 0.5;
                    margin-bottom: 1rem;
                }
                p{
                    font-size: 1.2rem;
                    font-weight: 100;
                    color: #E4E4E4;
                    opacity: .5;
                }
            }
        }


        &__btn{
            padding: 1.5rem 3rem;
            border: none;
            border-radius: 50px;
            font-size: 1.4rem;
            font-weight: 700;
            color: #fff;
            background-color: var(--color-purple);
            cursor: pointer;
            transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            margin: 2rem 0;
            

            &:hover{
                transform: translateY(5px);
            }
    }

    &__goal{
        

        

        h1{
            color: #E4E4E4;
            margin: 2rem 0;
        }

        &-box{
            display: flex;
            align-items: center;
            
        }

        &-details{
            margin-left: 2rem;

            p{
               font-size: 1.2rem;
               margin-top: -1rem;
               color: #E4E4E4;
               font-weight: 100;
            }
            h1{
                font-size: 1.4rem;
                font-weight: 700;
                margin-top: -.3rem;
            }
        }
    }
}
}

.statement{

 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 

  

    
    &__block1{

        display: flex;
        justify-content: space-around;
        height: 50%;

        &>*{
            height: 90%;
            width: 90%;
            border-radius: 1.5rem;
            
        }
        
        
        

        &-current{
            
            background-color: var(--color-dark);
            margin-right: 1rem;
            
        
            
            h1{
                font-size: 1.8rem;
                color: #E4E4E4;
                opacity: .5;
                font-weight: 500;
                margin: 2rem;
                
            }
            p{
                color: #E4E4E4;
                opacity: .5;
                margin: 1rem 2rem;
            }
        }

        &-last{
            
            background-color: var(--color-dark);
            margin-left: 1rem;
            padding: 1rem;
            

            .total{
                display: flex;
                span{
                    margin-right: 2rem;
                    color: #E4E4E4;
                    opacity: .5;
                }
            }

            .line{
                position: relative;
                width: 80%;
                height: 1rem;
                background-color: hsla(0, 0%, 89%, 0.508);
                border-radius: 50px;
                margin: 1rem 0;
                transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                cursor: pointer;
                &::before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                    width: 40%;
                    border-radius: 50px;
                    height: 1rem;
                    background-color: #F79F1A;
                    
                    

                    
                   
                }

                &:hover{
                    transform: scale(1.1);

                }
            }
            
            h1{
                font-size: 1.8rem;
                color: #E4E4E4;
                opacity: .5;
                font-weight: 500;
                margin-bottom: 1rem;
            }
            p{
                color: #E4E4E4;
                opacity: .5;
                
            }
        }
    }

    &__block2{
       
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50%;
        

        &>*{
            height: 100%;
            width: 90%;
            border-radius: 1.5rem;
            
        }
        

        &-current{
            
            background-color: var(--color-dark);
            margin-right: 1rem;
            
            

            h1{
                font-size: 1.8rem;
                color: #E4E4E4;
                opacity: .5;
                font-weight: 500;
                margin: 2rem;
                
            }
            p{
                color: #E4E4E4;
                opacity: .5;
                margin: 1rem 2rem;
            }

            
        }


        &-last{
            
            background-color: var(--color-dark);
            margin-left: 1rem;
            padding: 1rem;
           

            .total{
                display: flex;
                span{
                    margin-right: 2rem;
                    color: #E4E4E4;
                    opacity: .5;
                }
            }

            .line{
                position: relative;
                width: 80%;
                height: 1rem;
                background-color: hsla(0, 0%, 89%, 0.508);
                border-radius: 50px;
                margin: 1rem 0;
                transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                cursor: pointer;
                &::before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                    width: 20%;
                    border-radius: 50px;
                    height: 1rem;
                    background-color: var(--color-green);
                    
                    

                    
                   
                }

                &:hover{
                    transform: scale(1.1);

                }
            }
            
            h1{
                font-size: 1.8rem;
                color: #E4E4E4;
                opacity: .5;
                font-weight: 500;
                margin-bottom: 1rem;
            }
            p{
                color: #E4E4E4;
                opacity: .5;
                
                
            }
        }
    }

}

