body{
    background: url(/img/bg.jpg);
}

.container{
    max-width: 1366px;
    margin: 0 auto;
    background-color: var(--color-main);
 
    box-shadow: 0 0 25px rgba(0,0,0, 0.6);
    border-radius: 5px;
    margin-top: 4rem;
    
}


.header{
    position: relative;
    height: 7rem;
    display: flex;
    width: 100%;
    padding: 5rem;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    border-bottom: 1px solid hsla(228, 22%, 5%, 0.35);

    &__btn{
        margin-left: 1rem;
        background: rgba(255,255,255, .20);
    }

    &__logo{
        margin-right: auto;
        
        
    }

    &__notification{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 2rem;
        margin-top: 1rem;
        cursor: pointer;
        align-items: stretch;
        transition: all .2s cubic-bezier(1, 0, 0, 1);

        &:hover{

            transform: translateY(-5px);
        }
      

        &-box{
            background-color: red;
            height: 2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            border-radius: 50%;
            position: absolute;
            top: -1rem;
            left: 1.5rem;
        }


        
    }
    


    &__btn{
        padding: 1rem 2.5rem;
        border: none;
        border-radius: 50px;
        margin-left: 2rem;
        color: #fff;
        font-family: inherit;
        background-color: var(--color-purple);
        outline: none;
        cursor: pointer;
        transition: all .2s cubic-bezier(1, 0, 0, 1);

        &:hover{

            transform: translateY(-5px);
        }
    
    }
}

.main{
    position: relative;
    display: flex;
    justify-content: center;
  
  
    
    

    &__side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 1px solid hsla(228, 22%, 5%, 0.35);
        flex: 0 0 10%;
        padding-top: 5rem;
       
       

        
        

    }

    &__content{
        height: 100%;
        flex: 1;
    }


}

.navigation{
    display: flex;
    align-items:center;
    margin-top: 5rem;
    

    &__text{
        font-size: 1.6rem;
        font-family: inherit;
        color: rgba(255, 255, 255, 0.282);
        margin-left: 3rem;
        font-weight: 600;
    }
    &__list{
        display: flex;
        flex-direction: column;
        margin-bottom: 10rem;
        margin-left: 2rem;
      
      
       
        
    }

    &__content{
        display: flex;
        align-items: center;

        
    }
    &__arrow{

        transform: rotate(-90deg);
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 4rem;
        margin-left: 1rem;
        transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

 
       

        
    }

    &__text:hover{
        color: #fff;
    }

    &__link{
        display: flex;
        align-items: stretch;
        width: 26rem;
        justify-content: space-between;
        text-decoration: none;
        
        
    }

    &__link:active{
        color: #fff;
    }

    &__item:active{
        background-color: var(--color-dark);
        border-radius: 50px;
        color: #fff;
    }

    &__item:hover &__text{
   
        color: #fff;
    }

    &__item:hover{
        background-color: var(--color-purple);
        border-radius: 50px;
        transform: translateY(3px);
    }
}

.footer{
    color: #fff;
   font-size: 1rem;
   margin: 0 auto;

   a{
       color: chocolate;
       text-decoration: none;
       
       font-weight: 100;
   }
 
    
}
